<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example1.android.AgroFarm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example1.android.AgroFarm.Far_Equip"></activity>
        <activity android:name="com.example1.android.AgroFarm.equip"></activity>
        <activity android:name="com.example1.android.AgroFarm.updatecustomer" />
        <activity android:name="com.example1.android.AgroFarm.customer" />
        <activity android:name="com.example1.android.AgroFarm.UpdateInfo" />
        <activity android:name="com.example1.android.AgroFarm.farmerdeal" />
        <activity android:name="com.example1.android.AgroFarm.paymentcustomer" />
        <activity android:name="com.example1.android.AgroFarm.youtubeplay" />
        <activity android:name="com.example1.android.AgroFarm.register" />
        <activity android:name="com.example1.android.AgroFarm.login" />
        <activity android:name="com.example1.android.AgroFarm.carpooling" />
        <activity android:name="com.example1.android.AgroFarm.wintercrop" />
        <activity android:name="com.example1.android.AgroFarm.about" />
        <activity android:name="com.example1.android.AgroFarm.dash" />
        <activity
            android:name="com.example1.android.AgroFarm.basic"
            android:label="@string/title_activity_basic" />
        <activity android:name="com.example1.android.AgroFarm.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>