<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example1.android.krishimantra">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Far_Equip"></activity>
        <activity android:name=".equip"></activity>
        <activity android:name=".updatecustomer" />
        <activity android:name=".customer" />
        <activity android:name=".UpdateInfo" />
        <activity android:name=".farmerdeal" />
        <activity android:name=".paymentcustomer" />
        <activity android:name=".youtubeplay" />
        <activity android:name=".register" />
        <activity android:name=".login" />
        <activity android:name=".carpooling" />
        <activity android:name=".wintercrop" />
        <activity android:name=".about" />
        <activity android:name=".dash" />
        <activity
            android:name=".basic"
            android:label="@string/title_activity_basic" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>